.pio
.vscode
.dummy
.DS_Store
src/.DS_Store
CMakeLists.txt
dependencies.lock
sdkconfig.esp32dev
YD-10-67-24-11-39.txt
managed_components/
src/.DS_Store
.vscode/extensions.json
.version_no_increment
version
